@use '@angular/material' as mat;

.content {
    height: 100vh !important;
    padding:0 !important;
    margin: 0 !important;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y:scroll;
    .dashboard {
        background: white;
        height:max-content;
        position:relative;
        height:100vh;
    }
}

::ng-deep .mat-tooltip {
    font-size: 15px;
    white-space: pre-wrap;
    color: black !important;
    background-color: rgba(255, 255, 255, .9);
    border:1px solid gray;
    max-width: unset !important;
}

a:link, a:hover, a:active, a:visited { 
    text-decoration: none; 
    color:white;
}
.watchlistHeader {
    padding:0.05em;
    margin-top:0;
    border-radius:20px;
    background-color:#74b9ff;
}

.loadingErrorImage {
    // max-width:500px;
    // width:350px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 {
    font-size:20px;
}
.fundTitle {
    margin:0.2em;
    margin-left:calc(+4rem);
    justify-content: center;
    display:inline-flex;
    font-size:24px;
}

h2 {
    font-size:18px;
}
.p, mat-label, mat-select {
    font-size: 16px;
}

.toTheSideBtn {
    width:2rem;
    margin-left:1rem;
    padding-bottom:1em;
}

.mat-card, .mat-card-header, .mat-card-subtitle, .mat-card-title-group {
    color:white;
    display:block;
    background-color: #002b5c;

    .p {
        padding:0.5rem !important;
        color:white;
    }
}

.mat-card {
    background-color: transparent;
    padding:0;
    margin-top:0.5em;
    text-align: center;
    justify-content:center;
    height:auto;
    flex:none;
    @include mat.elevation(0);

    .mat-card-content {
        @include mat.elevation(8);
        max-width:700px;
        margin:auto;
        background-color: #07203d;
    }
    .mat-card-header {
        margin:0;
        text-decoration: bold; 
     }
}

h2 {
    padding-left:0.5rem;
    padding-bottom:0px !important;
  }
  

.info {
    font-size:18px !important;
    display:inline-grid;
}

  .center {
    text-align:center;
    background-color:transparent;
    overflow: hidden;
    .mat-button {
        margin-bottom:1em;
        font-size:18px;
    }
    .mat-form-field {
        width:75% !important;
        margin-bottom:1em;
    }
  }

.cardScroll {
    background-color: white;
    overflow:auto;
    max-height:auto;
}

.paddingBottom {
    padding-bottom:10%;
}

.inlineLink {
    color:#07203d !important;
    text-decoration:bold;
}