<div id="chart">
    <apx-chart
      *ngIf="chartOptions"
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [title]="chartOptions.title!"
      [dataLabels]="chartOptions.dataLabels!"
      [markers]="chartOptions.markers!"
      [fill]="chartOptions.fill!"
      [tooltip]="chartOptions.tooltip!"
      [autoUpdateSeries]="true"
      [plotOptions]="chartOptions.plotOptions!"
      [legend]="chartOptions.legend!"
    ></apx-chart>
</div>