mat-toolbar, mat-sidenav{
  background: #002b5c;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: auto;
  height:fit-content;
  overflow-x: hidden;
  border-right: none;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav-content {
  overflow:hidden;

}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.hoverTopRight {
  position:absolute;
  right: 2%;
  .mat-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-left:5px
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.horizontalNav {
  display: flex;
  background-color:#07203d;
}

.horizontalButtons {
  color:white;
}
.horizontalButtons:hover, .active {
  background-color:#448de0;
}
.mobileButton {
  display:none;
}

@media screen and (max-width: 1200px) {
  .horizontalNav {
    display: none;
  }
  .mobileButton {
    display:flex;
  }
}

.flexbox {
  padding: 0;
  overflow: wrap;
  align-items: center;
  justify-content: center;
  div {
    display: block;
    height: auto;
    width: auto;
  }
}
