<!-- Top navigation toolbar -->
<mat-toolbar class="flexbox" (click)="sideNavToggle()" fixed>
  <button class="mobileButton" mat-icon-button *ngIf="sidenav.mode === 'over'">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  CM Investment Analytics
</mat-toolbar>

<!-- Sidebar navigation -->
<mat-sidenav-container>
  <!-- Profile -->
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <span *ngIf="loggedIn">
      <h4 class="name">{{ userName | titlecase }}</h4>
      <p class="designation">{{ userRole }}</p>
      <mat-divider></mat-divider>
    </span>

    <!-- Navigation pages -->
    <div *ngFor="let data of navData">
      <button
        mat-button
        class="menu-button"
        (click)="sidenav.toggle()"
        routerLink="{{ data.routeLink }}"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >
        <mat-icon>{{ data.icon }}</mat-icon>
        <span> {{ data.label }}</span>
      </button>
    </div>

    <button *ngIf="loggedIn" mat-button class="menu-button" (click)="logout()">
      <mat-divider></mat-divider>
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-sidenav>

  <!-- Main page content -->
  <mat-sidenav-content>
    <div class="flexbox horizontalNav">
      <div *ngFor="let data of navData">
        <button
          class="horizontalButtons"
          mat-button
          mat-ripple
          routerLink="{{ data.routeLink }}"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
        >
          <mat-icon>{{ data.icon }}</mat-icon>
          <span> {{ data.label }}</span>
        </button>
      </div>
      <button
        class="horizontalButtons"
        mat-button
        mat-ripple
        *ngIf="loggedIn"
        mat-button
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </div>
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
