<div class="content mat-elevation-z5">
  <div>
    <button mat-button color="primary" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
      <p>Go back</p>
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Change chart</mat-label>
      <mat-select
        (selectionChange)="onMatSelectValueChanges($event)"
        [(value)]="selectedChart"
      >
        <mat-option value="area">Area</mat-option>
        <mat-option value="candlestick">Candle stick</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div id="chart">
    <apx-chart
      *ngIf="chartOptions"
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [title]="chartOptions.title!"
      [dataLabels]="chartOptions.dataLabels!"
      [markers]="chartOptions.markers!"
      [fill]="chartOptions.fill!"
      [tooltip]="chartOptions.tooltip!"
      [autoUpdateSeries]="true"
    ></apx-chart>
  </div>
</div>
