<div class="content mat-elevation-z5">

  <div>
    <button mat-button color="primary" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
      <p>Go back</p>
    </button>
    <button mat-button color="primary" (click)="addToWatchlist()">
      <mat-icon>add</mat-icon>
      <p>Add to watchlist</p>
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Change chart</mat-label>
      <mat-select [(value)]="selectedChart">
        <mat-option value="area">Area</mat-option>
        <mat-option value="candlestick">Candle stick</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Loader -->
  <div class="spinbox" *ngIf="isLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <stockChart
    *ngIf="!isLoading"
    [dataPoints]="dataPoints"
    [ticker]="ticker!"
    [chartType]="selectedChart"
  ></stockChart>

  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header matRipple>
      <mat-panel-title> <b>Stock Information</b> </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="detailsLoaded">
      <h3>
        <span *ngIf="details.name"> <strong>{{details.name}} </strong></span>
        <span *ngIf="details.name == null"> There is no information on this security</span>
      </h3>
      <p>
        <span *ngIf="details.description"> {{details.description}} </span>
      </p>
      <div class="flexbox"> 
        <p>
          <span *ngIf="details.sector"> Sector - {{details.sector}} </span>
          <span *ngIf="details.primaryExchange"> Primary exchange  - {{details.primaryExchange}} </span>
          <span *ngIf="details.employees">  Employes - {{details.employees}} </span>
          <span *ngIf="details.country"> Based in - {{details.city}}, {{details.country}}</span>
          <span *ngIf="details.companyUrl"><a href={{details.companyUrl}}> {{details.companyUrl}}</a></span>
        </p>
      </div>  
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header matRipple>
      <mat-panel-title> <b>A.I. Assistance</b> </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="detailsLoaded">
      <div class="flexbox"> 
        <p>
          A.I. Assistance has predicted an implied 1 month gain of 7% based on our prediction model. 
          17/01/2023 +1.3%, 18/01/2023 -2% , 19/01/2023 +3%
        </p>
      </div>  
    </div>
  </mat-expansion-panel>
</div>
