table, .mat-table {
  width: 100%;
  background-color:inherit !important;
}

tr.mat-row:hover { 
  cursor:grab !important;
  background-color:rgba(0,74,159, 0.2);
  text-shadow: 0 0 1px black;
  transition-delay:0.5ms;
}

th.mat-sort-header-sorted, th {
  color: black;
  font-weight:bold;
}

.searchBar {
  width:10rem;
  padding-left:1rem;
}

.spinbox {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding-top:20rem; 
  zoom: 0.5;
}