table, .mat-table {
  width: 100%;
  background-color:inherit !important;
}

tr.mat-row:hover { 
  cursor:grab !important;
  background-color:rgba(0,74,159, 0.2);
  text-shadow: 0 0 1px black;
}

th.mat-sort-header-sorted, th {
  color: black;
  font-weight:bold;
  font-size:16px;
  border-bottom:0.1em #07203d;
  border-bottom-style:ridge;
}

form {
  padding-top:0.5rem;
}

.mat-header-row {
  background-color:white;
  z-index:2;
}

mat-form-field {
  width:30em;
}

.center {
  padding:2rem;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.searchResults {
  position:absolute;
  background:white;
  box-shadow: 1px black;
  padding:2rem;
  width:30em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.info {
  font-size:14px !important;
  display:inline-grid;
}

td.mat-cell {
  font-size:auto;
  padding:0.5em;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}