body {
  overflow-x: hidden;
  font-size:16px;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color:white;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 0px 16px 16px 16px;
  overflow: auto;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.spinbox {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width:100%;
  padding-top:20rem; 
  zoom: 0.5;
}
