<div class="content">
  <div class="spinbox" *ngIf="isLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading">
    <ng-template ngFor let-item [ngForOf]="newsList" let-i="index">
      <mat-card>
        <mat-card-content>
          <a href="{{ item['url'] }}">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title
                  ><h1>{{ item["headline"] }}</h1></mat-card-title
                >
                <mat-card-subtitle
                  ><h2>
                    {{ item["source"] }} - {{ item["datetime"] | date }}
                  </h2></mat-card-subtitle
                >
              </mat-card-title-group>
            </mat-card-header>

            <ngx-picture
            src="{{ item['image'] }}" 
            alt="{{item['headline']}}"
            [lazyLoad]="true"
            #picture
            ></ngx-picture>

            <p>{{ item["summary"] }}</p>
          </a>
          <div *ngIf="AIassistance == true">
            <p>
              A.I. assist has interpreted this as a {{ item["sentiment"] }} outcome.
              <mat-icon
                class="info"
                [matTooltipClass]="{ 'tool-tip': true }"
                aria-label="Icon that displays a tooltip when focused or hovered over"
                matTooltip="A.I. assist is in its beta trial and could display incorrect answers. It should not be interpreted as investment advice."
              >
                information
              </mat-icon>
            </p>
          </div>
          <mat-card-actions>
            <button
              mat-button
              color="primary"
              [cdkCopyToClipboard]="item['url']"
              (click)="linkCoppied()"
            >
              <b>SHARE</b>
            </button>
            <button mat-button color="primary">
              <b>ADD TO READING LIST</b>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>
