<div class="content mat-elevation-z5">
  <!-- Loader -->
  <div class="spinbox" *ngIf="isLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading">
    <h1> {{ watchlistTitle }} </h1>
    <mat-card *ngFor="let item of stocks">
      <mat-card-header><h1>{{item["longName"]}} ({{item["symbol"]}})</h1></mat-card-header>
      <mat-card-subtitle>Timezone: {{item["exchangeTimezoneName"]}}. Market status: {{item["marketState"]}}</mat-card-subtitle>
      <mat-card-content>
        <p>Previous close: <strong>{{item["regularMarketPreviousClose"] | currency:item["currency"] }}</strong></p>
        <p>Current price: <strong>{{item["ask"] | currency:item["currency"]}}</strong></p>
        <!-- <p>Daily change {{(item["ask"] - item["regularMarketPreviousClose"]) / 100 | percent }}</p> -->
      </mat-card-content>
      </mat-card>
  </div>
</div>

