<div class="content">
  <div class="dashboard">
    <div>
      <div
        class="movement"
        [ngClass]="{
          positive: dailyMovement > 0,
          negative: dailyMovement < 0
        }"
        *ngIf="dailyMovement != null"
      >
        <span *ngIf="dailyMovement > 0">
          <mat-icon>trending_up</mat-icon>
        </span>
        <span *ngIf="dailyMovement < 0">
          <mat-icon>trending_down</mat-icon>
        </span>
        <span *ngIf="dailyMovement == 0">
          <mat-icon>trending_flat</mat-icon>
        </span>
        <h2>
          {{ dailyMovement.toFixed(2) + "%" }}
        </h2>
      </div>
      <mat-form-field class="ChartSelector" appearance="fill">
        <mat-label>Change chart</mat-label>
        <mat-select [(value)]="selectedChart">
          <mat-option value="area">Area</mat-option>
          <mat-option value="candlestick">Candle stick</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  <!-- Loader -->
  <div class="spinbox" *ngIf="isLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <stockChart
    *ngIf="!isLoading"
    [dataPoints]="dataPoints"
    [ticker]="chartTitle!"
    [chartType]="selectedChart"
  ></stockChart>

    <mat-divider></mat-divider>
    <br>
    <div class="center" *ngIf="loadingError == false && isLoading == false && stocks.length > 0">
      <div class="fundTitle">
        <h1>
          <strong>
          {{ watchlistTitle }}
          </strong>
        </h1>
        <button
          *ngIf="(editmodeObs | async) == false"
          mat-button
          class="toTheSideBtn"
          (click)="editmode.next(true)"
        >
          <mat-icon *ngIf="loadingError == false">editMode</mat-icon>
        </button>
        <button
          *ngIf="(editmodeObs | async) == true"
          mat-button
          class="toTheSideBtn"
          (click)="editmode.next(false)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div class="center" *ngIf="(editmodeObs | async) == true">
        <button mat-button (click)="openDialog()">Change title</button>
      </div>
      <div class="cardScroll">
        <ng-template ngFor let-item [ngForOf]="stocks" let-i="index">
          <mat-card>
            <mat-card-content>
              <a href="../stocks/{{ item['symbol'] }}">
                <div class="hoverable">
                  <mat-card-header>
                    <mat-card-title-group>
                      <mat-card-title
                        ><h1>{{ item["longName"] }}</h1></mat-card-title
                      >
                      <mat-card-subtitle
                        ><p>
                          {{ item["exchangeTimezoneName"] }}
                        </p>
                      </mat-card-subtitle>
                    </mat-card-title-group>
                  </mat-card-header>
                  <h3>
                    Previous close:
                    {{
                      item["regularMarketPreviousClose"]
                        | currency : item["currency"]
                    }}
                    . Current price:
                    {{
                      item["regularMarketPrice"] | currency : item["currency"]
                    }}
                    . Change:
                    {{ item["regularMarketChangePercent"].toFixed(2) }}%
                  </h3>
                </div>
              </a>
              <span *ngIf="editmodeObs | async">
                <button
                  class="remove"
                  mat-button
                  (click)="removeFromWatchlist(item['symbol'], i)"
                >
                  <h3>Remove {{ item["symbol"] }} from watchlist</h3>
                </button>
              </span>
            </mat-card-content>
          </mat-card>
        </ng-template>
        <!-- Treemap -->
        <!-- <stockChart
          *ngIf="!isLoading"
          [dataPoints]="portfolioDataPoints"
          [ticker]="chartTitle"
          [chartType]="portfolioChart"
        ></stockChart> -->
      </div>
    </div>
    <div class="center" *ngIf="loadingError == true || stocks.length == 0">
      <br>
      <h2> Welcome {{username | titlecase }}!</h2>
      <p>To create a watchlist, add a stock to your watchlist.</p>
      <br>
      <button mat-button class="inlineLink" routerLink="/stocks">You can browse stocks here</button>
    </div>
  </div>
</div>
